<DiscordHeader />

<div class="discord-data">
  <div class="discord-data-user">
    {{user-chooser
      id="search-posted-by"
      value=this.searchedTerms.username
      onChange=this.onChangeSearchTermForUsername
      options=(hash maximum=1 excludeCurrentUser=false)
    }}
    <div class="discord-data-user-text">
      {{i18n "discord_datastore.selected_user"}}:
      {{#if this.searched_username}}
        {{this.searched_username}}
        <div>
          {{#if this.searched_discord_username}}
            ✅
            {{this.searched_discord_username}}
          {{else}}
            ❌
            {{i18n "discord_datastore.selected_user_not_found"}}
          {{/if}}
        </div>
      {{/if}}
    </div>
  </div>
  <hr />

  <DiscordStats
    @messages_loaded={{this.messages_loaded}}
    @stats={{this.stats}}
  />
  <hr />
  <DiscordRanks @ranks={{this.ranks}} />
  <hr />

  <div class="discord-data-columns">
    <div class="discord-data-channels">
      <DiscordChannels
        @channels_loaded={{this.channels_loaded}}
        @channels={{this.channels}}
        @filterChannel={{this.filterChannel}}
      />
    </div>
    <div class="discord-data-messages">
      <DiscordMessages
        @messages_loaded={{this.messages_loaded}}
        @messages={{this.messages}}
        @current_page={{this.current_page}}
        @prevMessagePage={{this.prevMessagePage}}
        @nextMessagePage={{this.nextMessagePage}}
      />
    </div>
  </div>
</div>