{{#if siteSettings.discord_header_image }}
  <img src="{{ siteSettings.discord_header_image }}" alt="header_image">
{{else}}
  <h1>{{d-icon 'fab-discord'}}{{" "}}{{ i18n 'discord_datastore.admin.title' }}</h1>
{{/if}}

<div class="discord-data">
  
  <div class="discord-data-user">
    {{user-chooser
      id="filter-by-user"
      value=searchedTerms.username
      onChange=(action "onChangeSearchTermForUsername")
        options=(hash
        headerAriaLabel=(i18n "discord_datastore.user_search")
        maximum=1
        excludeCurrentUser=false
      )
    }}
    {{ "Selected user: " }}{{ searched_username }}
  </div>
  
  <hr> <!-- ==================================================================================== -->
  
  <div class="discord-data-stats">
    <div class="discord-stat"><div class="discord-stat-value">{{ stats.total }}</div><div class="discord-stat-label">{{i18n 'discord_datastore.stat_total_message'}}</div></div>
    <div class="discord-stat"><div class="discord-stat-value">{{ stats.total_monthly }}</div><div class="discord-stat-label">{{i18n 'discord_datastore.stat_monthly_message'}}</div></div>
    <div class="discord-stat"><div class="discord-stat-value">{{ stats.total_weekly }}</div><div class="discord-stat-label">{{i18n 'discord_datastore.stat_weekly_message'}}</div></div>
    <div class="discord-stat"><div class="discord-stat-value">{{ stats.first_message }}</div><div class="discord-stat-label">{{i18n 'discord_datastore.stat_first_message'}}</div></div>
  </div>

  <hr> <!-- ==================================================================================== -->

  <div class="discord-data-rank-header">
    <h3>{{d-icon 'fab-discord'}}{{" "}}{{ i18n "discord_datastore.rank_title" }}</h3>
  </div>

  <div class="discord-data-rank">
    {{#each ranks as |rank|}}
      <div class="discord-rank">
        <img class="discord-rank-img" src="{{ rank.img }}" alt="" />
        <div class="discord-rank-label">{{ rank.id }}</div>
        <div class="discord-rank-count">{{ rank.count }}{{" "}}{{ i18n "discord_datastore.messages" }}</div>
      </div>
    {{/each}}
  </div>

  <hr> <!-- ==================================================================================== -->

  <div class="discord-data-columns">

    <div class="discord-data-channels">
      {{#if channels}}
        <div class="discord-data-channels-header">
          <h3>{{d-icon 'fab-discord'}}{{" "}}{{ i18n "discord_datastore.channel_title" }}</h3>
        </div>
        <div class="discord-channel-list" >
          {{#each channels as |channel|}}
            <div><button {{action "filterChannel" channel.id }} type='submit' class="discord-channel-list-element">
              <h3>{{ "#" }}{{ channel.name }}</h3>{{ channel.length }}{{ ' ' }}{{i18n 'discord_datastore.channel_message_total' }}
            </button></div>
          {{/each}}
        </div>
      {{else}}
        {{ i18n "discord_datastore.no_channels" }}
      {{/if}}  
    </div>
    
    <div class="discord-data-messages">
        <div class ="discord-data-messages-header">
          
          <h3>{{d-icon 'fab-discord'}}{{" "}}{{ i18n "discord_datastore.message_history_title" }}</h3>
          <div class="message-paginate-buttons">
            <button {{ action "prevMessagePage" }} type='submit' class='discord-button'>
              {{ i18n "discord_datastore.message_pagination_previous" }}
            </button>
            <b>{{ current_page }}</b>
            <button {{ action "nextMessagePage" }} type='submit' class='discord-button' >
              {{ i18n "discord_datastore.message_pagination_next" }}
            </button>
          </div>

        </div>
      {{#if messages}}
        <div class="discord-message-list" >
          <ul>
            {{#each messages as |message|}}
              <li>
                <div class="discord-message">
                  <div class="discord-avatar"><img src="{{message.user_avatar}}" alt="" /></div>
                  <div class="discord-message-content">
                    {{ message.user_nickname }}{{ " in " }}<b>{{"#"}}{{ message.channel_name }}</b>{{ ": " }}<br>
                    {{ message.content }}
                  </div>
                </div>
              </li>
            {{/each}}
          </ul>
        </div>
      {{else}}
        <div class="no-messages">{{ i18n "discord_datastore.no_messages" }}</div>
      {{/if}}

    </div>

  </div>
</div>
