{{discord-header}}

<div class="discord-data">
  
  <div class="discord-data-user">
    {{user-chooser
      id="search-posted-by"
      value=searchedTerms.username
      onChange=(action "onChangeSearchTermForUsername")
        options=(hash
        maximum=1
        excludeCurrentUser=false
      )
    }}
    {{ i18n "discord_datastore.selected_user" }}:
    {{#if searched_username}}
      {{ searched_username }}{{" | "}}
      {{#if searched_discord_username}}
        ✅ {{ searched_discord_username }}
      {{else}}
        ❌ {{ i18n "discord_datastore.selected_user_not_found" }}
      {{/if}}
    {{/if}}
  </div>
  <hr>

  {{discord-stats messages_loaded=messages_loaded stats=stats}}
  <hr>
  {{discord-ranks ranks=ranks}}
  <hr>

  <div class="discord-data-columns">

    <div class="discord-data-channels"> {{discord-channels channels_loaded=channels_loaded channels=channels filterChannel=(action "filterChannel")}} </div>
    <div class="discord-data-messages"> {{discord-messages messages_loaded=messages_loaded messages=messages 
                                          prevMessagePage=(action "prevMessagePage") nextMessagePage=(action "nextMessagePage")}} </div>

  </div>
</div>
