<h1>{{ i18n 'discord_datastore.user_title' }}</h1>

{{#if siteSettings.discord_show_widget }}
  {{#if siteSettings.discord_server_id }}
    <iframe src="https://discord.com/widget?id={{ siteSettings.discord_server_id }}&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
    <br>
  {{/if}}
{{/if}}

{{#if siteSettings.discord_invite_url }}
  <h2>{{'1. '}}<a href={{siteSettings.discord_invite_url}}>{{i18n 'discord_datastore.join_discord_message' }}</a></h2>
  <h2>{{'2. '}}<a href={{'/my/preferences/account'}}>{{i18n 'discord_datastore.connect_discord_message' }}</a></h2>


  
{{/if}}
<div class="discord-data">
  <div class="discord-data-messages">

    {{#if messages}}
      <div class="discord-message-list" >

        <div class ="message-pagination">
          <button type='submit' class='btn btn-message-prev'>
          {{ i18n "discord_datastore.message_pagination_previous" }}
        </button>
        <b>{{ currentPage }}</b>
        <button type='submit' class='btn btn-primary-message-next' {{ action "nextMessagePage" currentPage }}>
          {{ i18n "discord_datastore.message_pagination_next" }}
        </button>
        </div>

        <ul>
          {{#each messages as |message|}}
            <li>
              <div class="discord-message">
                <div class="discord-avatar"><img src="{{message.user_avatar}}" alt="" /></div>
                <div class="discord-message-content">
                  {{ message.user_nickname }}{{ " in " }}<b>{{"#"}}{{ message.channel_name }}</b>{{ ": " }}<br>
                  {{ message.content }}
                </div>
              </div>
            </li>
          {{/each}}
        </ul>
      </div>
    {{/if}}

  </div>


</div>
