<h1>{{ i18n 'discord_datastore.title' }}</h1>

<form {{ action 'createDiscordMessage' content on='submit' }}>
  <label>
    {{ i18n 'discord_datastore.test.text_field_label' }}
    {{ textarea name='discordmessage' value=content }}
  </label>

  <button type='submit' class='btn btn-primary'>
    {{ i18n 'discord_datastore.test.submit_label' }}
  </button>
</form>

<label>
  {{ "messageTotal: " }}{{ totalMessages }}
</label>

{{#if messages}}
  <ul>
    {{#each messages as |message|}}
      <li>
        {{ message.content }}         
        {{ message.author_id }}
        <button type="button" class="btn btn-danger" {{ action 'deleteDiscordMessage' message }}>
          {{ i18n 'discord_datastore.test.delete_message_label' }}
        </button>
      </li>
    {{/each}}
  </ul>
{{/if}}
