<DiscordHeader />

{{#if this.is_staff}}
  <br />
  <a class="discord-admin-url" href="/admin/discord">
    {{i18n "discord_datastore.view_admin_url_text"}}
    ➚
  </a>
{{/if}}

<div class="discord-data">
  {{#if this.discord_id}}
    <h3>
      <div class="discord-username-header">
        {{i18n "discord_datastore.verified_username"}}: ✅
        {{this.discord_username}}
      </div>
    </h3>
    <hr />
    {{discord-stats messages_loaded=this.messages_loaded stats=this.stats}}
    <hr />
    {{discord-ranks
      ranks=this.ranks
      collectible=1
      collectRank=this.collectRank
    }}
    <hr />
    <div class="discord-data-columns">
      <div class="discord-data-channels">
        {{discord-channels
          channels_loaded=this.channels_loaded
          channels=this.channels
          filterChannel=this.filterChannel
        }}
      </div>
      <div class="discord-data-messages">
        {{discord-messages
          messages_loaded=this.messages_loaded
          messages=this.messages
          current_page=this.current_page
          prevMessagePage=this.prevMessagePage
          nextMessagePage=this.nextMessagePage
        }}
      </div>
    </div>
  {{else}}
    {{#if this.id_loaded}}
      <div class="discord-join-info">
        <div class="discord-join-box">
          {{i18n "discord_datastore.warning_no_account_found"}}
        </div>
        <br />
        {{#if this.siteSettings.discord_invite_url}}
          <h2>
            1.
            <a href={{this.siteSettings.discord_invite_url}}>
              {{i18n "discord_datastore.join_discord_message"}}
            </a>
          </h2>
        {{else}}
          <h2>1. {{i18n "discord_datastore.join_discord_message"}}</h2>
        {{/if}}
        <h2>
          2.
          <a href="/my/preferences/account">
            {{i18n "discord_datastore.connect_discord_message"}}
          </a>
        </h2>
      </div>
    {{/if}}
  {{/if}}
</div>