<h1>{{ i18n 'discord_datastore.title' }}</h1>

<div>
    {{ "messageTotal: " }}{{ model.test }}
</div><div>
    {{ "Selected user: " }}{{ searched_username }}
</div>

<div> <hr> </div>

<!-- 

<form {{ action 'createDiscordMessage' content on='submit' }}>
  <label>
    {{ i18n 'discord_datastore.test.text_field_label' }}
    {{ textarea name='discordmessage' value=content }}
  </label>

  <button type='submit' class='btn btn-primary'>
    {{ i18n 'discord_datastore.test.submit_label' }}
  </button>
</form>

<label>

-->
<div><h4>  {{ i18n 'discord_datastore.user_search' }} </h4></div>

<div>
{{user-chooser
  id="filter-by-user"
  value=searchedTerms.username
  onChange=(action "onChangeSearchTermForUsername")
    options=(hash
    headerAriaLabel=(i18n "discord_datastore.user_search")
    maximum=1
    excludeCurrentUser=false
  )
}}
</div>

<br>

{{#if channels}}
  <div class ="discord-channel-list" >
    {{#each channels as |channel|}}
      <div class="discord-channel-list-element">
        <h3>{{ "#" }}{{ channel.name }}</h3>{{ channel.length }}{{ ' ' }}{{i18n 'discord_datastore.channel_message_total' }}
      </div>
    {{/each}}
  </div>
{{/if}}


{{#if messages}}
  <div class ="discord-message-list" >
    <ul>
      {{#each messages as |message|}}
        <li>
          <img src="https://i.imgur.com/Xz4OOh9.png" alt=""/>
          {{ message.author_id }}{{ " in " }}{{ action "getChannelNameByID" message.channel_id }}{{ ": " }}{{ message.content }}
        </li>
      {{/each}}
    </ul>
    <div class ="message-pagination">
      <button type='submit' class='btn btn-message-prev'>
      {{ i18n "discord_datastore.message_pagination_previous" }}
    </button>
      <button type='submit' class='btn btn-primary-message-next' {{ action "nextMessagePage" currentPage }}>
      {{ i18n "discord_datastore.message_pagination_next" }}
    </button>
    </div>
  </div>
{{/if}}
