{{#if siteSettings.discord_header_image }}
  <img src="{{ siteSettings.discord_header_image }}" alt="header_image">
{{else}}
  <h1>{{d-icon 'fab-discord'}}{{" "}}{{ i18n 'discord_datastore.user_title' }}</h1>
{{/if}}

<div class="discord-join-info">
  {{ i18n "discord_datastore.warning_no_account_found" }}
  <br><br>
  {{#if siteSettings.discord_invite_url }}
    <h2>{{'1. '}}<a href={{siteSettings.discord_invite_url}}>{{i18n 'discord_datastore.join_discord_message' }}</a></h2>
  {{else}}
    <h2>{{'1. '}}{{i18n 'discord_datastore.join_discord_message' }}</h2>
  {{/if}}
  <h2>{{'2. '}}<a href={{'/my/preferences/account'}}>{{i18n 'discord_datastore.connect_discord_message' }}</a></h2>
</div>
<br>

<div class="discord-data">

  <div class="discord-data-stats">
    <div class="discord-stat"><div class="discord-stat-value">{{"0"}}</div><div class="discord-stat-label">{{"Messages sent"}}</div></div>
    <div class="discord-stat"><div class="discord-stat-value">{{"0"}}</div><div class="discord-stat-label">{{"Messages in the last 30 days"}}</div></div>
    <div class="discord-stat"><div class="discord-stat-value">{{"0"}}</div><div class="discord-stat-label">{{"Reacts sent"}}</div></div>
    <div class="discord-stat"><div class="discord-stat-value">{{"0"}}</div><div class="discord-stat-label">{{"Reacts received"}}</div></div>
  </div>
  
  <hr> <!-- ==================================================================================== -->
  
  <div class="discord-data-rank-header">
    <h3>{{d-icon 'fab-discord'}}{{" "}}{{ i18n "discord_datastore.rank_title" }}</h3>
  </div>

  <div class="discord-data-rank">
    {{#each rank_settings as |rank|}}
      <div class="discord-rank {{"missing-rank"}}">
        <img class="discord-rank-img" src="{{ rank.img }}" alt="" />
        <div class="discord-rank-label">{{ rank.id }}</div>
        <div class="discord-rank-count">{{ rank.count }}{{" "}}{{ i18n "discord_datastore.messages" }}</div>
      </div>
    {{/each}}

  </div>

  <hr> <!-- ==================================================================================== -->

  <div class="discord-data-columns">

    <div class="discord-data-channels">
      {{#if channels}}
        <div class="discord-data-channels-header">
          <h3>{{d-icon 'fab-discord'}}{{" "}}{{ i18n "discord_datastore.channel_title" }}</h3>
        </div>
        <div class="discord-channel-list" >
          {{#each channels as |channel|}}
            <div class="discord-channel-list-element">
              <h3>{{ "#" }}{{ channel.name }}</h3>{{ channel.length }}{{ ' ' }}{{i18n 'discord_datastore.channel_message_total' }}
            </div>
          {{/each}}
        </div>
      {{else}}
        {{ i18n "discord_datastore.no_channels" }}
      {{/if}}  
    </div>

    <div class="discord-data-messages">
      {{#if messages}}
        <div class ="discord-data-messages-header">
          
          <h3>{{d-icon 'fab-discord'}}{{" "}}{{ i18n "discord_datastore.message_history_title" }}</h3>
          <div class="message-paginate-buttons">
            <button type='submit' class='discord-button'>
              {{ i18n "discord_datastore.message_pagination_previous" }}
            </button>
            <b>{{ currentPage }}</b>
            <button type='submit' class='discord-button' {{ action "nextMessagePage" currentPage }}>
              {{ i18n "discord_datastore.message_pagination_next" }}
            </button>
          </div>

        </div>

        <div class="discord-message-list" >
          <ul>
            {{#each messages as |message|}}
              <li>
                <div class="discord-message">
                  <div class="discord-avatar"><img src="{{message.user_avatar}}" alt="" /></div>
                  <div class="discord-message-content">
                    {{ message.user_nickname }}{{ " in " }}<b>{{"#"}}{{ message.channel_name }}</b>{{ ": " }}<br>
                    {{ message.content }}
                  </div>
                </div>
              </li>
            {{/each}}
          </ul>
        </div>
      {{else}}
        {{ i18n "discord_datastore.no_messages" }}
      {{/if}}

    </div>

  </div>
</div>
